@model IEnumerable<Service>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Services <b>Details</b></h2></div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new"><a asp-controller="service" asp-action="create"><i class="fa fa-plus"></i> Add New</a></button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Icon Link</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Icon</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons"></i></a>
                        <a class="edit" asp-controller="service" asp-action="update" asp-route-id="@item.Id" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                            <a class="delete" asp-controller="service" asp-action="remove" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this item?');" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                    </td>
                </tr>
   }
            </tbody>
        </table>
    </div>
</div> 